@value phone, tablet, desktop, notphone from "../styles/breakpoints.css";

.container {
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
	flex-grow: 0;

}

.content {
	@media phone {
		padding: 16px;
	}
	@media notphone {
		padding: 32px
	}
}