.title {
	font-size: 28px;
	font-weight: normal;
	color: $font_color;
	display: block;
	line-height: normal;
}

.text {
	font-size: 14px;
	color: $font_color;
  line-height: 1.43;
}

.impText {
	composes: text;
	font-weight: 500;
  color: $font_color;
}


.control{
	font-size: 16px;
	color: $font_color;
	&:last-child{
		margin-bottom: 0;
	};
}

