.title {
	font-size: 28px;
	font-weight: normal;
	color: $font_color;
	display: block;
}

.text {
	font-size: 14px;
	color: $font_color--opacity;
}

.control{
	font-size: 16px;
	color: $font_color--opacity;
}

