@value phone, tablet, desktop from "../styles/breakpoints.css";

$headerHeight: 60px;
$headerShadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);

.main {		
	display: flex;
	flex-direction: column;
	justify-content: center;
	@media phone{
		flex-grow: 1;
	}
}

.header {
	position: fixed;
	height: $headerHeight;
	background: $color-green;
	box-shadow: $headerShadow;
	width: 100%;
}

.container {
	padding-top: $headerHeight;
}


.footer {

}
