@value fonts: "../styles/fonts.css";
.container {

}
.title {
	composes: title from fonts;
	margin-bottom: 24px;
}

.helpText{
	composes: text from fonts;
	padding-bottom: 24px;
	ul {
		padding-left: 16px;
		margin: 0;
	}
}

.control {
	composes: control from fonts;
}
