@value fonts: "../styles/fonts.css";

.title {
	composes: title from fonts;
	margin-bottom: 24px;
}

.text {
	composes: text from fonts;
	padding-top: 8px;
}
.importantText {
  composes: impText from fonts;
}