//@import '/node_modules/react-toolbox/lib/radio/theme.css';

.radio, .text {
  vertical-align: middle !important;
  white-space: normal !important;
}


$color-primary: #fff;
$unit: 10px;
$color-green: rgb(67,160,71);
$color-yellow: rgb(255,213,79);

$font_color: rgba(0, 0, 0, 0.87);
$font_color--opacity: rgba(0, 0, 0, 0.54);

